.title {
    text-align: center;
    color: rgb(76, 146, 207);
    font-size: 100px;
    font-family:'Times New Roman', Times, serif

}

.cupcake {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10%;

}



.ul {
    text-align: center;
    font-size: 25px;



}


.cookiepage {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 90px;

}


.cakepage {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 90px;

}


.cookie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;




}


.cookietext {
    text-align: center;




}

.mm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.mmtext {
    text-align: center;



}



.peanut {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%



}


.sugar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%



}


.peanuttext{
    text-align: center;



}

.sugartext{
    text-align: center;




}

.div{
    text-align: center;



}


.bb{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 90px;



}




.cookielist{
    text-align: center;
    
}

.barsandbreadslist {
    text-align: center;
}

.cakelist{
    text-align: center;


}


.redvelvet{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%


}


.cherrychocolate{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%


}


.custom{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.lemon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

.one{
    text-align: center;

}

.two{
    text-align: center;
}

.three{
    text-align: center;
}

.four{
    text-align: center;
}


.pic1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

}


.pic2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

}

.pic3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

}

.pic4{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

}


.five{
    text-align: center;
}

.six{
    text-align: center;

}

.seven{
    text-align: center;

}

.eight{
    text-align: center;

}


.lol{
    text-align: center;
}